<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AHD.SM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AHD.SM.Properties.Settings>
            <setting name="Frm_Main_Location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="Frm_Main_Size" serializeAs="String">
                <value>1000, 700</value>
            </setting>
            <setting name="ShowNewProjectWizard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewSubtitleDuration" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NewSubtitleFont" serializeAs="String">
                <value>Tahoma, 15.75pt</value>
            </setting>
            <setting name="NewSubtitleColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MediaSeekOnSelect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditMoreThanOneSubtitleUsingEditorWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdvanceTime" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ShiftTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ImportDeepSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowQuickStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTipOfDay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TipOfDayIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoCheckForErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSelectFirstTrack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskWhenChangingRTL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewSubtitlesTrackTemplate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditSubtitleAfterAddUsingQuickMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PauseAfterAddUsingQuickMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FavoriteFormat" serializeAs="String">
                <value/>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English (United States)</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubtitleTextEditorBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SubtitleTextEditorShowStatusStrip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayerTimer" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MegnaticAccuracy" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SmartToolAccuracy" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="WarnMeWhenID3Detected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnMeWhenMKVDetected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeekMediaToNewSubtitlesStartTimeAfterAdd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultID3V2Version" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ID3V2_UseUnsynchronisation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ID3V2_KeepPadding" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ID3V2_DropExtendedHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ID3V2_WriteFooter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCreateSubtitlesTrackAfterCreatingNewProject" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowErrorsInEditControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskToExportBeforeUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSavePeriodMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShortcutAddSubtitle" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="ShortcutNextSubtitle" serializeAs="String">
                <value>F6</value>
            </setting>
            <setting name="ShortcutPreviousSubtitle" serializeAs="String">
                <value>F5</value>
            </setting>
            <setting name="ShortcutJumpIntoSelectedSubtitleTime" serializeAs="String">
                <value>F7</value>
            </setting>
            <setting name="AddNewSubtitleTextWhenAddNewSubtitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AskBeforeDeletingSubtitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollTimelineToMediaOnMediaSlide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShortcutFWD" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="ShortcutREW" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="CheckForUpdatesAutoamtically" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaveFormQuality" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ShortcutStretchToNext" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="ShortcutStretchToPrevious" serializeAs="String">
                <value>F9</value>
            </setting>
            <setting name="TimelineAutoGenerateWaveform" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MediaPlayerEnableSubtitlePreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MediaPlayerUseSubtitleFormatting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MediaPlayerCustomFont" serializeAs="String">
                <value>Microsoft Sans Serif, 15.75pt, style=Bold</value>
            </setting>
            <setting name="MediaPlayerCustomColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MediaPlayerCurrent" serializeAs="String">
                <value>player.wmp</value>
            </setting>
        </AHD.SM.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
