<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AHD.SM.Controls.ControlsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AHD.SM.Controls.ControlsSettings>
            <setting name="SubtitlesData_ViewIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SubtitlesData_startime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SubtitlesData_endime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SubtitlesData_duration" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SubtitlesData_text" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="SubtitlesData_number" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Timeline_AutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timeline_zoomValue" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Timeline_S" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timeline_L" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timeline_C" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Timeline_G" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Vertical_T" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Vertical_S" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vertical_L" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Vertical_WW" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Timeline_Spl1" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="Timeline_Spl2" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="Timeline_Spl3" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="SubtitlesData_IsTimeline" serializeAs="String">
                <value>False</value>
            </setting>
        </AHD.SM.Controls.ControlsSettings>
    </userSettings>
</configuration>